@import './variables.scss';

.header {
    background-color: $main-dark-color;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;

    ul {
        list-style: none;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        width: 20%;

        //тут я криво сверстал нужно было расстянуть ссылку, а не блок элемента списка, 
        //чтобы кликался блок, а не только ссылка, но мне пипец как лень переделывать эту мелочь

        li {
            width: 100px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            .nav-link {
                text-decoration: none;
                color: $new-white;
            }
        }

        li:hover {
            background-color: $darkest-red-color;
        }
    }
}