@import'./variables.scss';

form {
    input {
        border: none;
        outline: none;
        height: 20px;
        padding: 5px;
        margin: 5px;
    }

    button {
        border: none;
        outline: none;
        width: 80px;
        height: 30px;
        background-color: $darkest-red-color;
        color: $new-white;
        cursor: pointer;
    }
}